body {
    position: relative;
    font-family: 'News Cycle', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

div.card {
    border: 1px solid #f7efef;
    margin: 15px 0;
    width: 100%;
    background-color: rgba(36, 39, 41, 0.8);
    color: white;
    height: 210px;
}

div.card:hover {
    border: 1px solid #239288;
    box-shadow: 17px 19px 22px -6px rgba(154, 148, 148, 0.53)
}


h4.card-title {
    border-bottom: 1px solid black;
    background: floralwhite;
    padding: 10px;
    margin: 0;
    color: black;
}

div.card-footer {
    font-size: 10px;
    margin-top: 5px;
}

p.card-text {
    margin: 10px;
    margin-bottom: 30px;
    height: 30px;
}

.card-body>a {
    margin: 10px;
}

.col-sm-4 {
    padding-left: 9px;
    padding-right: 9px;
}

p.card-subtitle {
    margin: 0 0 0 10px;
}


.form-container {
     background-color: white;
     /*width: 50%;*/
     /*height: 500px;*/
     display: flex;
     justify-content: center;
     position: absolute;
     top: 43%;
     left: 50%;
     height: 42%;
     width: 50%;
     margin: -15% 0 0 -25%;
     border-radius: 40px;
     border: 1px solid #d2d1d1;
 }


div.input-container {
    width: 75%;
    margin: 50px 0 60px 0;
}

input[type=submit].btn-block {
    width: 75%;
    margin: 50px 0 60px 10%;
}

a.btn.btn-primary {
    background-color: #239288 !important;
    background-image: none;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 5px;
}

nav.navbar.navbar-default {
    background-color: floralwhite;
}
